@charset "UTF-8";
/* CSS Document */
.fundo{
    background-color: #e8dade;
}
.pag1{
    width: auto;
    height: 600px;
}
.carousel{
    min-height: 600px !important;
}
.section{
    min-height: 500px;
}
.page-footer{
  background-color: #020101 !important;
}
.cor {
    color: #e8dade;
    }
.texto{
    font-weight: bold;
}
.card-title{
    color: #020101 ;
    font-size: 22px !important;
    font-weight:500 !important;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
    color: #020101;
}
.parallax-container{
    height: auto !important;
    min-height: 400px !important;
    min-width: auto;
    max-height: 4000px !important;
}
.positivo{
    -webkit-transform: skew(30deg); /* Chrome, Opera */
    -ms-transform: skew(30deg); /* IE */
    transform: skew(30deg); /* Padrão */
}
.p-negativo{
    -webkit-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    transform: skew(-30deg); /* SKEW inverso para o texto não inclinar */
}